/* Text styles */
.xr_s0 {font-family:'Blacklisted';font-weight:normal;font-style:normal;font-size:48px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0;color:#B2B2B2;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-family:'Blacklisted';font-weight:normal;font-style:normal;font-size:48px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0;color:#37D4EB;background-color:Transparent;letter-spacing:0em;}
